
 <%=form_tag(:container => "user", :action => "keep") do %>
  <div class="user_newName_email">
  <p>アカウント名</p>
    <input name="name" value="">
    <p>メールアドレス</p>
    <input name="email" value="">
    
    <input type="submit" value="新規登録">
   </div>
    <%end%>

